# This example considers CLI Usage
# Melinda Record Import specific variables are not included

# Do not apply any filters
APPLY_FILTERS="[]"

# Example considers pre-publication information
IS_LEGAL_DEPOSIT=false
SOURCE="Example source"
PSEUDONYM="MELINDA-EXAMPLE"
RELATED_WORK_REFERENCE_NAME="Example"
ISIL_IDENTIFIER="FI-H" # NatLibFi ISIL used as example
NOTIFICATION_NAME="Example"
SYSTEM_IDENTIFIER="Example system"
F984_DIRECTIVES="[]"
LANGUAGE_SANITY_CHECK=false
PREVENT_UNIFORM_TITLE_GENERATION=false

LOG_LEVEL=info